/* Shadow and border for navbar bottom */
.navbar-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); /* soft shadow */
  border-bottom: 1px solid #dee2e6; /* light gray border */
  z-index: 1030; /* above content */
}







/* Logo tagline next to the logo */
.tagline {
  font-size: 20px; /* Bigger tagline */
  color: #000;
  line-height: 0.9;
  font-weight: 200; /* Normal weight like a paragraph */
  gap :1px
}

/* Navigation links */
.nav-link {
  color: #000 !important;
  font-size: 17px; /* igger font size */
  font-weight: 400; /* Normal weight */
}

/* Dropdown items */
.dropdown-menu .dropdown-item {
  font-size: 18px;
  font-weight: 400;
}

/* Top-right section (phone, login, careers) */
.header-info {
  font-size: 18px;
  font-weight: 400;
}

/* Contact button */
button.btn-warning {
  background-color: #fcb833;
  border-color: #fcb833;
  font-size: 22px;
  padding: 8px 20px;
  font-weight: 300;
}

button.btn-warning:hover {
  background-color: #e0a800;
}

/* Search icon button */
button.btn-light {
  padding: 8px 14px;
  font-size: 18px;
}



/* Modal styles for mobile menu */
.modal-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}